@model IEnumerable<PortalWebMVC.Models.Entities.Base_info.UserPersonal>

@{
    ViewBag.Title = "پرسنل";
    ViewBag.TitlePage = "لیــــست نام";
}
<div class="row tehranit-box">
  <!--item-->
  <div class="col-12">
      <div class="content-box">
        <div class="title-box">
            <span>لیــــست نام</span>
            <i class="bi bi-list-task"></i>
        </div>
        <a class="MyBtn-icon MyBtn-base mb-2" asp-action="Create"><span>افزودن فیلد جدید</span><i class="bi bi-plus-lg"></i></a>
        <div class="table-responsive tehranit-table">
            <table class="table align-middle table-bordered table-hover">
                 <thead>
                      <tr>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                @* <th scope="col">
                                    @Html.DisplayNameFor(model => model.Role)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th> *@
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Password)
                                </th>
                          <th></th>
                      </tr>
                 </thead>
                 <tbody>
                      @foreach (var item in Model) {
                          <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>*@
            <td> 
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                                <td>
                                    <a class="ati ati-edit" asp-action="Edit" asp-route-id="@item.Id_Personal"><i class="bi bi-pencil-fill"></i></a>
                                    <a class="ati ati-view" asp-action="Details" asp-route-id="@item.Id_Personal"><i class="bi bi-eye-fill"></i></a>
                                    <a class="ati ati-remove" asp-action="Delete" asp-route-id="@item.Id_Personal"><i class="bi bi-trash3-fill"></i></a>
                                </td>

                          </tr>
                        }
                 </tbody>
              </table>
        </div>
      </div>
  </div>
</div>

@section Styles{}
@section Scripts{}

